* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "inter", serif, "Lato";
}




header {
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 24px 80px;

    background: white;
    border: 1px solid rgba(232, 232, 232, 1);
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    position: sticky;
    top: 0;
    z-index: 1000;

}



nav ul {
    display: flex;
    list-style: none;

}

nav ul li {
    margin: 0 15px;

}

nav ul li a {
    text-decoration: none;

    color: #333;
    font-family: lato;
    font-size: 24px;

    font-weight: 500;

    transition: color 0.5s ease;

}

nav ul li a:hover {
    color: #076C7D;
}


#logo {
    cursor: pointer;
    width: 80px;
    display: block;
    height: 80px;

}

#logo img {
    width: 80px;
    height: 80px;
}

.profilphoto {
    border-radius: 58%;
    border: 2px solid #076C7D;
    width: 80px;
    height: 80px;
}

.zil {
    margin: 20px 10px;
}

.change-password h3 {
    margin-top: 20px;
    margin-left: 80px;

    font-family: lato;
    font-weight: 700;
    font-size: 48px;
}

.change-password form {
    min-width: 847px;
    margin-top: 24px;
}

.password-label {
    display: flex;
    padding: 10px;
    margin-top: 16px;
}


.password-label input {
    display: flex;
    padding: 16px 24px;
    gap: 8px;
    padding-top: 8px;
    padding: 8px;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
    padding-left: 30px;
    width: 630px;
    margin-left: -150px;
    border: 1px solid #ccc;
    border-radius: 12px;
    display: flex;
}

.password-label label {
    margin-right: 80px;
    margin-left: 80px;
    font-weight: 400;
    font-family: "lato";
    font-size: 30px;
    padding-top: 16px;
    margin-top: 3px;
    width: 20%;
}

.change-password a {
    position: absolute;
    margin-top: 36px;
    color: #777;
    text-align: right;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-left: 820px;
}

.change-password button {
    padding: 12px 24px;
    border: 2px solid rgba(7, 108, 125, 1);
    background: rgba(7, 108, 125, 1);
    color: white;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 850px;
    margin-top: 100px;
    font-weight: 500;
    font-size: 20px;
    font-family: lato;

}

.change-password button:hover {
    background-color: rgb(4, 64, 75);
}


/*///////NEW PASSWORD//////////*/
.new-password h2 {
    color: #000E10;
    text-align: center;
    font-family: Lato;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 87px;
    margin-top: 10px;
    margin-bottom: 24px;
}

li {
    list-style-type: none;
}

.new-password form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;


}

.new-password input {
    padding: 16px 24px;
    border: 1px solid #E8E8E8;
    border-radius: 12px;
    font-weight: 300;
    font-size: 24px;
    font-family: Lato;
    color: #606060;
    gap: 8px;
    min-width: 630px;

}





.input-container {
    position: relative;
    display: inline-block;
}

.input-container img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.new-password button {
    background: #076C7D;
    color: white;
    padding: 16px 24px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    font-family: lato;
    border-radius: 12px;
    margin-left: 450px;
    margin-top: 36px;
}


footer {
    background-color: rgba(10, 151, 176, 0.1);
    padding: 36px 80px;
    width: 100%;
    /*BU HISSENI YADDA SAXLA*/
    margin-top: 200px;
    gap: 16px;

}

footer .footer-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a4a4a4;
    margin-bottom: 16px;
}

footer .footer-container .footer_logo-info {
    width: 29%;
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

footer .footer-container .footer_logo-info .footer_logo {
    width: 25%;
    display: flex;
    flex-direction: column;
}

footer .footer-container .footer_logo-info .footer_logo a {
    margin-bottom: 24px;
}

footer .footer-container .footer_logo-info .footer_logo ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .footer-container .footer_logo-info .footer_logo ul li a {
    text-decoration: none;
}

footer .footer-container .footer_logo-info .footer_logo ul li a img {
    width: 32px;
}

footer .footer-container .footer_logo-info .footer_logo ul li:first-child {
    margin-right: 8px;
}

footer .footer-container .footer_logo-info .footer_info {
    list-style-type: none;
    width: 68%;
    display: flex;
    flex-direction: column;
}

footer .footer-container .footer_logo-info .footer_info li {
    margin-bottom: 12px;
}

footer .footer-container .footer_logo-info .footer_info li a {
    text-decoration: none;
    font-family: Lato;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}

footer .footer-container .footer_logo-info .footer_info li a img {
    margin-right: 8px;
    width: 32px;
}

footer .footer-container .footer_logo-info .footer_info li:last-child {
    margin-bottom: 0;
}

footer .footer-container .footer-links {
    width: 28.9%;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

footer .footer-container .footer-links .footer-section {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

footer .footer-container .footer-links .footer-section p {
    font-family: Lato;
    font-size: 20px;
    color: #000000;
    margin-bottom: 16px;
}

footer .footer-container .footer-links .footer-section li {
    margin-bottom: 12px;
}

footer .footer-container .footer-links .footer-section li a {
    font-family: Lato;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

footer .footer-last {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-last span {
    font-family: Lato;
    font-size: 18px;
    color: #606060;
}

footer .footer-last p {
    font-family: Lato;
    font-size: 18px;
    color: #606060;
}

footer .footer-last p span {
    color: #333333;
}



@media (max-width: 1494px) and (min-width:1100px) {
    /* body {
        font-family: "Inter", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        background-color: #f9f9f9;
    } */

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 50px;
        background: white;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }

    #logo img {

        width: 80px;
    }

    #logo {
        cursor: pointer;
        width: 80px;
        display: block;
        height: 80px;

    }

    #logo img {
        width: 80px;
        height: 80px;
    }


    .profilphoto {
        width: 70px;
        height: 70px;
        position: relative;
        left: 0px;
        bottom: 0px;
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;
    }


    nav ul li a {
        text-decoration: none;
        font-size: 16px;
        color: #333;
        font-weight: 500;
    }

    .change-password h3 {
        margin-top: 20px;
        margin-left: 80px;

        font-family: lato;
        font-weight: 700;
        font-size: 48px;
    }

    .change-password form {
        min-width: 847px;
        margin-top: 24px;
    }

    .password-label {
        display: flex;
        padding: 10px;
        margin-top: 16px;
    }


    .password-label input {
        display: flex;
        padding: 16px 24px;
        gap: 8px;
        padding-top: 8px;
        padding: 8px;
        justify-content: space-between;
        font-size: 24px;
        font-weight: 400;
        padding-left: 30px;

        margin-left: -50px;
        border: 1px solid #ccc;
        border-radius: 12px;
        display: flex;
    }

    .password-label label {
        margin-right: 80px;
        margin-left: 80px;
        font-weight: 400;
        font-family: "lato";
        font-size: 30px;
        padding-top: 16px;
        margin-top: 3px;
        width: 20%;
    }

    .change-password a {
        position: absolute;
        margin-top: 36px;
        color: #777;
        text-align: right;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        margin-left: 820px;
    }

    .change-password button {
        padding: 12px 24px;
        border: 2px solid rgba(7, 108, 125, 1);
        background: rgba(7, 108, 125, 1);
        color: white;
        border-radius: 12px;
        cursor: pointer;
        transition: 0.5s;
        margin-left: 850px;
        margin-top: 100px;
        font-weight: 500;
        font-size: 20px;
        font-family: lato;

    }

    .change-password button:hover {
        background-color: rgb(4, 64, 75);
    }


    /*///////NEW PASSWORD//////////*/
    .new-password h2 {
        color: #000E10;
        text-align: center;
        font-family: Lato;
        font-size: 58px;
        font-style: normal;
        font-weight: 700;
        line-height: 87px;
        margin-top: 10px;
        margin-bottom: 24px;
    }

    li {
        list-style-type: none;
    }

    .new-password form {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 52px;


    }

    .new-password input {
        padding: 16px 24px;
        border: 1px solid #E8E8E8;
        border-radius: 12px;
        font-weight: 300;
        font-size: 24px;
        font-family: Lato;
        color: #606060;
        gap: 8px;


    }





    .input-container {
        position: relative;
        display: inline-block;
        margin-left: 600px;
    }

    .input-container img {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        cursor: pointer;
    }


    .new-password button {
        background: #076C7D;
        color: white;
        padding: 16px 24px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        font-family: lato;
        border-radius: 12px;
        margin-left: 450px;
        margin-top: 36px;
    }

    footer {
        width: 100%;
        background: #e8f4f8;
        padding: 20px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
    }

    .footer_logo-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .footer-links {
        display: flex;
        gap: 50px;
    }

    .footer-section p {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .footer-section li {
        list-style: none;
        margin-bottom: 5px;
    }

    .footer-section li a {
        text-decoration: none;
        color: #333;
        font-size: 14px;
    }

    footer.footer-last p {
        display: flex;
        text-align: center;
        position: absolute;
        left: 90px;
        margin-top: 20px;
        font-size: 12px;
    }

    footer.footer-last span {
        display: flex;
        text-align: center;
        position: absolute;
        left: 90px;
        margin-top: 20px;
        font-size: 12px;
    }
}

@media (max-width: 1100px) and (min-width:744px) {
    header {
        width: 1100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 50px;
        background: white;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }

    #logo img {

        width: 80px;
    }

    #logo {
        cursor: pointer;
        width: 80px;
        display: block;
        height: 80px;

    }

    #logo img {
        width: 80px;
        height: 80px;
    }


    .profilphoto {
        width: 70px;
        height: 70px;
        position: relative;
        left: 0px;
        bottom: 0px;
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;
    }


    nav ul li a {
        text-decoration: none;
        font-size: 16px;
        color: #333;
        font-weight: 500;
    }

    .change-password h3 {
        margin-top: 20px;
        margin-left: 80px;

        font-family: lato;
        font-weight: 700;
        font-size: 48px;
    }

    .change-password form {
        min-width: 847px;
        margin-top: 24px;
    }

    .password-label {
        display: flex;
        padding: 10px;
        margin-top: 16px;
    }


    .password-label input {
        display: flex;
        padding: 16px 24px;
        gap: 8px;
        padding-top: 8px;
        padding: 8px;
        justify-content: space-between;
        font-size: 24px;
        font-weight: 400;
        padding-left: 30px;
        max-width: 630px;
        margin-left: -150px;
        height: 55px;
        border: 1px solid #ccc;
        border-radius: 12px;
        display: flex;
    }

    .password-label label {
        margin-right: 80px;
        margin-left: 30px;
        font-weight: 400;
        font-family: "lato";
        font-size: 30px;
        padding-top: 16px;
        margin-top: 3px;
        width: 40%;
    }

    .change-password a {
        position: absolute;
        margin-top: 36px;
        color: #777;
        text-align: right;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        margin-left: 820px;
        width: 150px;
    }

    .change-password button {
        padding: 12px 24px;
        border: 2px solid rgba(7, 108, 125, 1);
        background: rgba(7, 108, 125, 1);
        color: white;
        border-radius: 12px;
        cursor: pointer;
        transition: 0.5s;
        margin-left: 850px;
        margin-top: 100px;
        font-weight: 500;
        font-size: 20px;
        font-family: lato;

    }

    .change-password button:hover {
        background-color: rgb(4, 64, 75);
    }


    /*///////NEW PASSWORD//////////*/
    .new-password h2 {
        color: #000E10;
        text-align: center;
        font-family: Lato;
        font-size: 58px;
        font-style: normal;
        font-weight: 700;
        line-height: 87px;
        margin-top: 10px;
        margin-bottom: 24px;
    }

    li {
        list-style-type: none;
    }

    .new-password form {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 52px;


    }

    .new-password input {
        padding: 16px 24px;
        border: 1px solid #E8E8E8;
        border-radius: 12px;
        font-weight: 300;
        font-size: 24px;
        font-family: Lato;
        color: #606060;
        gap: 8px;


    }





    .input-container {
        position: relative;
        display: inline-block;
        margin-left: 600px;
    }

    .input-container img {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        cursor: pointer;
    }


    .new-password button {
        background: #076C7D;
        color: white;
        padding: 16px 24px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        font-family: lato;
        border-radius: 12px;
        margin-left: 450px;
        margin-top: 36px;
    }

    footer {
        width: 1100px;
        background: #e8f4f8;
        padding: 20px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
    }



    .footer_logo-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        font-size: 16px;
    }

    .footer_logo-info img {
        width: 62px;
    }

    .footer-links {
        display: flex;
        gap: 50px;
        position: absolute;
        margin-left: 300px;
        font-size: 16px;

    }

    .footer-section p {
        font-weight: 500;
        margin-bottom: 10px;
    }

    .footer-section li {
        list-style: none;
        margin-bottom: 5px;
    }

    .footer-section li a {
        text-decoration: none;
        color: #333;
        font-size: 14px;
    }

    footer.footer-last p {
        display: flex;
        text-align: center;
        position: absolute;
        left: 90px;
        margin-top: 20px;
        font-size: 12px;
    }

    footer.footer-last span {
        display: flex;
        text-align: center;
        position: absolute;
        left: 90px;
        margin-top: 20px;
        font-size: 12px;
    }
}


@media screen and (max-width:744px) {
    header {
        width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 50px;
        background: white;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }

    #logo img {

        width: 80px;
    }

    #logo {
        cursor: pointer;
        width: 80px;
        display: block;
        height: 80px;

    }

    #logo img {
        width: 80px;
        height: 80px;
    }


    .profilphoto {
        width: 70px;
        height: 70px;
        position: relative;
        left: 0px;
        bottom: 0px;
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;
    }


    nav ul li a {
        text-decoration: none;
        font-size: 16px;
        color: #333;
        font-weight: 500;
    }

    .change-password h3 {
        margin-top: 20px;
        margin-left: 80px;

        font-family: lato;
        font-weight: 700;
        font-size: 28px;
    }

    .change-password form {
        min-width: 847px;
        margin-top: 24px;
    }

    .password-label {
        display: flex;
        padding: 10px;
        margin-top: 16px;
    }


    .password-label input {
        display: flex;
        padding: 8px 16px;
        gap: 8px;
        justify-content: space-between;
        font-size: 24px;
        font-weight: 400;
        padding-left: 30px;
        margin-left: -50px;
        border: 1px solid #ccc;
        border-radius: 12px;
        display: flex;

    }

    .password-label label {
        margin-right: 80px;
        margin-left: 80px;
        font-weight: 400;
        font-family: "lato";
        font-size: 30px;
        padding-top: 16px;
        margin-top: 3px;
        width: 40%;
        height: 50px;
    }

    .change-password a {
        position: absolute;
        margin-top: 36px;
        color: #777;
        text-align: right;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        margin-left: 720px;
        width: 150px;
    }

    .change-password button {
        padding: 12px 24px;
        border: 2px solid rgba(7, 108, 125, 1);
        background: rgba(7, 108, 125, 1);
        color: white;
        border-radius: 12px;
        cursor: pointer;
        transition: 0.5s;
        margin-left: 750px;
        margin-top: 100px;
        font-weight: 500;
        font-size: 20px;
        font-family: lato;

    }

    .change-password button:hover {
        background-color: rgb(4, 64, 75);
    }


    /*///////NEW PASSWORD//////////*/
    .new-password h2 {
        color: #000E10;
        text-align: center;
        font-family: Lato;
        font-size: 58px;
        font-style: normal;
        font-weight: 700;
        line-height: 87px;
        margin-top: 10px;
        margin-bottom: 24px;
    }

    li {
        list-style-type: none;
    }

    .new-password form {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 52px;


    }

    .new-password input {
        padding: 8px 16px;
        border: 1px solid #E8E8E8;
        border-radius: 12px;
        font-weight: 300;
        font-size: 24px;
        font-family: Lato;
        color: #606060;
        gap: 8px;
        height: 40px;


    }


    .input-container {
        position: relative;
        display: inline-block;
        margin-left: 600px;
    }

    .input-container img {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        cursor: pointer;
    }


    .new-password button {
        background: #076C7D;
        color: white;
        padding: 16px 24px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        font-family: lato;
        border-radius: 12px;
        margin-left: 450px;
        margin-top: 36px;
    }

    footer {
        width: 1000px;
        background: #e8f4f8;
        padding: 20px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
    }

    .footer_logo-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        font-size: 16px;
    }

    .footer_logo-info img {
        width: 62px;
    }

    .footer-links {
        display: flex;
        gap: 50px;
        position: absolute;
        margin-left: 300px;
        font-size: 16px;

    }

    .footer-section p {
        font-weight: 500;
        margin-bottom: 10px;
    }

    .footer-section li {
        list-style: none;
        margin-bottom: 5px;
    }

    .footer-section li a {
        text-decoration: none;
        color: #333;
        font-size: 14px;
    }

    footer.footer-last p {
        display: flex;
        text-align: center;
        position: absolute;
        left: 90px;
        margin-top: 20px;
        font-size: 12px;
    }

    footer.footer-last span {
        display: flex;
        text-align: center;
        position: absolute;
        left: 90px;
        margin-top: 20px;
        font-size: 12px;
    }
}